@{
    ViewData["Title"] = "MemberManagement";
}

@model librarysite.Models.SignupViewModel


<div class="container-fluid">
    <div class="row">

        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col text-center">
                            <h4>Member Details</h4>
                            <img src="~/imgs/memlogin.jpg" width="150px"/>
                            <hr />
                        </div>
                    </div>

                    <form asp-action="Signup" method="get">
                        <div class="row mb-3">

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Member ID" class="form-label">Member Id</label>

                                    <div class="input-group">
                                        <input typeof="text" name="MemberId" class="form-control" placeholder="enter id">
                                        <button typeof="submit" class="btn btn-primary">Go</button>
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">

                                    <div class="form-group">
                                        <label asp-for="Name">Full Name</label>
                                        <input asp-for="Name" class=" form-control" readonly/><br>
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Status" class="form-label">Account Status</label>

                                    <div class="input-group">
                                        <input type="text" name="AccountStatus" class="form-control" placeholder="Account Status" readonly>

                                        <button type="button" class="btn btn-success" title="Active">
                                            <i class="bi bi-check-circle-fill"></i>
                                        </button>

                                        <button type="button" class="btn btn-warning" title="Pending">
                                            <i class="bi bi-hourglass-split"></i>
                                        </button>

                                        <button type="button" class="btn btn-danger" title="Deactivated">
                                            <i class="bi bi-x-circle-fill"></i>
                                        </button>
                                    </div>


                                </div>
                            </div>

                        </div>

                        <div class="row mb-3">

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="DOB" class="form-label">DOB</label>

                                    <div class="input-group">
                                        <input asp-for="DOB" class="form-control" placeholder="dd-mm-yy" readonly>
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Contact" class="form-label">Contact No</label>

                                    <div class="input-group">
                                        <input asp-for="Contact" class="form-control" placeholder="Contact No" readonly>
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Email" class="form-label">Email Id</label>

                                    <div class="input-group">
                                        <input asp-for="Email" class="form-control" placeholder="Email id"readonly>
                                    </div>

                                </div>
                            </div>


                        </div>

                        <div class="row mb-3">

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="State" class="form-label">State</label>

                                    <div class="input-group">
                                        <input asp-for="State" class="form-control" placeholder="State" readonly>
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="City" class="form-label">City</label>

                                    <div class="input-group">
                                        <input asp-for="City" class="form-control" placeholder="City" readonly>
                                    </div>

                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Pincode" class="form-label">Pincode</label>

                                    <div class="input-group">
                                        <input asp-for="Pincode" class="form-control" placeholder="Pincode" readonly>
                                    </div>

                                </div>
                            </div>

                        </div>

                        <div class="row mb-6">
                            <div class="form-group">
                                <label for="Address" class="form-label">Address</label>

                                <div class="input-group">
                                    <input asp-for="Address" class="form-control" placeholder="Address" readonly><br>
                                </div><br>

                            </div>
                        </div>

                        <div class="row mb-6">
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-danger w-100 btn-lg">Delete User Permanently</button>
                            </div>

                        
                        </div>
                    </form>

                    <div class="text-center mt-3">
                        <a class="btn btn-link" asp-area="" asp-controller="Home" asp-action="Index">>>Back to Home</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-7">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col text-center">
                            <h4>Issued Book List</h4>
                            <hr />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">

                            <table class="table table-striped table-hover text-center">
                                <thead class="table-dark">
                                    <tr>
                                        <th>Book ID</th>
                                        <th>Book</th>
                                        <th>Author Name</th>
                                    </tr>
                                </thead>

                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

